@model eSchool.ViewModels.GradeViewModel

@{
    ViewData["Title"] = "Grades";
}

<h1>Create</h1>

<div>
    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" role="10" class="form-control"> </textarea>
        </div>
        <div class="mb-3">
            <button type="submit">Create</button>
        </div>
    </form>
</div>